body {
background:blue ;
color: gray;
}
.heading{
    width: 80%;
    font-size: large;
}
.name_of_family{
    color: rgb(249, 250, 252);
}
#camera{
    border: tan dashed 2px;
    width: 350px;
    height: 300px;
}
#result_family,#acurrecy_family{
color: violet;
}